%fieldset#user_sign_in_fields{:style => "display: none;"}
  .control-group
    %label{:for => "user_password", :id => "user_password_label"}
      = t("labels.password")
      %small
        = image_tag "lock.png", :class => "lock", :alt => t("captions.private"), :title => t("captions.private")
    = f.password_field "password"
  .control-group
    = f.label "remember_me" , f.check_box("remember_me", :checked => true).html_safe + t("labels.remember_me")
  .form-actions
    = f.submit t("buttons.sign_in"), :class => "btn btn-primary"
  %p
    = link_to t("links.forgot_password"), "#", :id => "user_forgot_password_link"
%fieldset#user_forgot_password_fields{:style => "display: none;"}
  .form-actions
    = f.submit t("buttons.email_password"), :class => "btn btn-primary"
  %p
    = link_to t("links.remembered_password"), "#", :id => "user_remembered_password_link"